body{
  
    border-style: dashed;
    border-width: 10px ;
    max-width: 100%;
}
header{
    color: blue;
    text-align: center;
    font-family:impact ;
    font-size: 300%;
    padding: 10px;   
}
.id{
    text-align: center;
}
.container{
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
}
.main-wapper{
    display:flex;
    align-items: center;
}
.inner-image img{
    padding: 30px;
    height: 50%;
    width: 28%;
    border: 4px solid powderblue;
    float: left;
}
.inner-text{
    padding: 20px;
  font-size: x-large;
  font-family: mistral;
text-align: left;
}